/.jsdtscope
/de.loskutov.anyedit.AnyEditTools.prefs
/org.eclipse.wst.jsdt.ui.prefs
/org.eclipse.wst.jsdt.ui.superType.container
/org.eclipse.wst.jsdt.ui.superType.name
/org.eclipse.wst.common.project.facet.core.xml
